@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,700,600);
@import url("//netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.css");

html,
body {
	height: 100%;
	/*	color: #333333;*/
	/* background-color: #90cf79; */
	/* The html and body elements cannot have any padding or margin. */
	-webkit-font-smoothing: antialiased;
	font-family: 'Open Sans', sans-serif;
}

.row {
	margin-left:0px;
	margin-right:0px;
}

#wrap {
	min-height: 100%;
	height: auto !important;
	height: 100%;
	/* Negative indent footer by its height */
	margin: 0 auto -60px;
	/* Pad bottom by footer height */
	padding: 0 0 60px;
}

.img-center {
	margin-left: auto;
	margin-right: auto;
}

/* Set the fixed height of the footer here */
#footer {
	height: 60px;
	background-color: #f5f5f5;
	margin-top:50px;
	padding-top:20px;
	padding-bottom:20px;
}

#wrap > .container {
	padding: 60px 15px 0;
}
.container .credit {
	margin: 20px 0;
}

#footer {
	background-color:#414141;
}

#footer a {
	color:#efefef;
}

header {
	background: #333;
	color:#555;
}

header .dropdown-menu {
	top:74px;
	background: #ffcc33;
	border-width:0;
}

h1 {
	font-size:50px;
}

#footer > .container {

}

/* ----------------------
 * Carousel
 * ---------------------- */

/* Since positioning the image, we need to help out the caption */
.carousel-caption {
	z-index: 10;
}

/* Declare heights because of positioning of img element */
#myCarousel  .item {
	height: 600px;
	background-color:#bbb;
}

#myCarousel img {
	position: absolute;
	top: 0;
	left: 0;
	min-width: 100%;
	height: 600px;
}

.logo {
	font-size:40px;
	position:absolute;
	z-index:1200;
	color:#fff;
	text-shadow: 0 1px 2px rgba(0,0,0,.6);
	top:70px;
	text-align:center;
	width:100%;
}


/* ----------------------
 * NAVBAR
 * ---------------------- */
/* Special class on .container surrounding .navbar, used for positioning it into place. */
.navbar-wrapper {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	z-index: 10;
}

#nav {
	width: 100%;
	position:static;
	top:-32px;
}

#nav.affix {
	position: fixed;
	top: 0;
	z-index:10;
	-webkit-transition: all .6s ease-in-out;
}

@media (min-width: 767px) {
	.navbar-nav.nav-justified > li{
		float:none;
	}
}

.navbar-nav {
	margin: 1px 1px;
}

.navbar .navbar-nav {
	display: inline-block;
	float: none;
	vertical-align: top;
}

.navbar .navbar-collapse {
	text-align: center;
}

/* customize nav style */
.navbar-custom {
	background-color: #2e2e2e;
	font-weight:700;
	text-transform:uppercase;
	border-width:0;
}
.navbar-custom  .navbar-nav>li>a {
	color: #ddd;
	display: block;
	padding: 15px 50px 15px 50px;
}
.navbar-custom  .dropdown-menu li>a:hover {
	color: #eee;
}
.navbar-custom  .navbar-nav li>a:hover, .navbar-nav li .open, .navbar-custom .navbar-nav .active a  {
	background-color: #000;
}
.navbar-custom .navbar-nav>.dropdown>a .caret {
	border-top-color: #999;
	border-bottom-color: #999;
}

.navbar-collapse.in { /*3.0.2 bug workaround*/
	overflow-y: visible;
}

.navbar-toggle {
	outline:0;
}

.panel {
	border-width:0;
}

.panel .img-responsive {
	min-height:270px;
	max-height:270px;
}


/* ----------------------
 * Sections
 * ---------------------- */

section {
	color: #ffffff;
	min-height: 400px;
	height: auto !important;
	height: 100%;
	padding-top:100px;
	background-attachment: fixed;
}

/*.bg-1 {
	background: url('http://www.bootply.com/assets/example/bg_suburb.jpg') no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}*/

.divider {
	height:50px;
}

/* ----------------------
 * Event Calendar
 * ---------------------- */
.event-list {
	list-style: none;
	font-family: 'Open Sans', sans-serif;
	margin: 0px;
	padding: 0px;
}
.event-list > li {
	background-color: rgb(255, 255, 255);
	box-shadow: 0px 0px 5px rgb(51, 51, 51);
	box-shadow: 0px 0px 5px rgba(51, 51, 51, 0.7);
	padding: 0px;
	margin: 0px 0px 20px;
}
.event-list > li > time {
	display: inline-block;
	width: 100%;
	color: rgb(255, 255, 255);
	background-color: rgb(197, 44, 102);
	padding: 5px;
	text-align: center;
	text-transform: uppercase;
}
.event-list > li:nth-child(even) > time {
	background-color: rgb(165, 82, 167);
}
.event-list > li > time > span {
	display: none;
}
.event-list > li > time > .day {
	display: block;
	font-size: 56pt;
	font-weight: 100;
	line-height: 1;
}
.event-list > li time > .month {
	display: block;
	font-size: 24pt;
	font-weight: 900;
	line-height: 1;
}
.event-list > li > img {
	width: 100%;
}
.event-list > li > .info {
	padding-top: 5px;
	text-align: center;
}
.event-list > li > .info > .title {
	font-size: 17pt;
	font-weight: 700;
	margin: 0px;
}
.event-list > li > .info > .desc {
	font-size: 13pt;
	font-weight: 300;
	margin: 0px;
}
.event-list > li > .info > ul,
.event-list > li > .social > ul {
	display: table;
	list-style: none;
	margin: 10px 0px 0px;
	padding: 0px;
	width: 100%;
	text-align: center;
}
.event-list > li > .social > ul {
	margin: 0px;
}
.event-list > li > .info > ul > li,
.event-list > li > .social > ul > li {
	display: table-cell;
	cursor: pointer;
	color: rgb(30, 30, 30);
	font-size: 11pt;
	font-weight: 300;
	padding: 3px 0px;
}
.event-list > li > .info > ul > li > a {
	display: block;
	width: 100%;
	color: rgb(30, 30, 30);
	text-decoration: none;
} 
.event-list > li > .social > ul > li {    
	padding: 0px;
}
.event-list > li > .social > ul > li > a {
	padding: 3px 0px;
} 
.event-list > li > .info > ul > li:hover,
.event-list > li > .social > ul > li:hover {
	color: rgb(30, 30, 30);
	background-color: rgb(200, 200, 200);
}
.facebook a,
.twitter a,
.google-plus a {
	display: block;
	width: 100%;
	color: rgb(75, 110, 168) !important;
}
.twitter a {
	color: rgb(79, 213, 248) !important;
}
.google-plus a {
	color: rgb(221, 75, 57) !important;
}
.facebook:hover a {
	color: rgb(255, 255, 255) !important;
	background-color: rgb(75, 110, 168) !important;
}
.twitter:hover a {
	color: rgb(255, 255, 255) !important;
	background-color: rgb(79, 213, 248) !important;
}
.google-plus:hover a {
	color: rgb(255, 255, 255) !important;
	background-color: rgb(221, 75, 57) !important;
}

@media (min-width: 768px) {
	.event-list > li {
		position: relative;
		display: block;
		width: 100%;
		height: 120px;
		padding: 0px;
	}
	.event-list > li > time,
	.event-list > li > img  {
		display: inline-block;
	}
	.event-list > li > time,
	.event-list > li > img {
		width: 120px;
		float: left;
	}
	.event-list > li > .info {
		background-color: rgb(245, 245, 245);
		overflow: hidden;
	}
	.event-list > li > time,
	.event-list > li > img {
		width: 120px;
		height: 120px;
		padding: 0px;
		margin: 0px;
	}
	.event-list > li > .info {
		position: relative;
		height: 120px;
		text-align: left;
		padding-right: 40px;
	}	
	.event-list > li > .info > .title, 
	.event-list > li > .info > .desc {
		padding: 0px 10px;
	}
	.event-list > li > .info > ul {
		position: absolute;
		left: 0px;
		bottom: 0px;
	}
	.event-list > li > .social {
		position: absolute;
		top: 0px;
		right: 0px;
		display: block;
		width: 40px;
	}
	.event-list > li > .social > ul {
		border-left: 1px solid rgb(230, 230, 230);
	}
	.event-list > li > .social > ul > li {			
		display: block;
		padding: 0px;
	}
	.event-list > li > .social > ul > li > a {
		display: block;
		width: 40px;
		padding: 10px 0px 9px;
	}
}
