</body>
<script type="text/javascript" src="http://code.jquery.com/jquery-2.1.4.min.js"></script>
<script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
<script type="text/javascript" src="{{ .Site.BaseURL }}js/strftime.js"></script>
<!--<script type="text/javascript" src="{{ .Site.BaseURL }}js/calagator_widget.js"></script>-->
<script type="text/javascript" src="{{ .Site.BaseURL }}js/isometric.js"></script>
<script type="text/javascript" src="{{ .Site.BaseURL }}js/main.js"></script>
</html>
