<!DOCTYPE html>
<html>
	<head>
		<title>Agile PDX - Supporting the Agile community in Portland, OR</title>
		<meta name="description" content="Agile PDX is a user group based in Portland, OR who's mission is to create a vibrant, successful Agile community of practice that shares real-world experiences, distilled wisdom, and innovative ideas for Agile done well."/>
		<meta name="keywords" content="agile, portland, pdx, agilepdx" />

		<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" />
		<link rel="stylesheet" type="text/css" href="{{ .Site.BaseURL }}css/main.css" />

		<script type="text/javascript">

var _gaq = _gaq || [];
_gaq.push(['_setAccount', 'UA-17629700-3']);
_gaq.push(['_trackPageview']);

(function() {
	var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
	ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
	var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
})();

		</script>
	</head>
	<body>
