<!-- Fixed navbar -->
<div class="navbar navbar-custom navbar-inverse navbar-static-top" id="nav">
	<div class="container-fluid">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
		</div>
		<div class="collapse navbar-collapse">
			<ul class="nav navbar-nav">
				<li><a href="#section1">Home</a></li>
				<li><a href="#section2">Events</a></li>
				<li><a href="#section3">Vision</a></li>
				<li><a href="#section4">Mission</a></li>
				<li><a href="#section5">Sponsors</a></li>
			</ul>
		</div><!--/.nav-collapse -->
	</div><!--/.container -->
</div><!--/.navbar -->
