<!-- Fixed navbar -->
<div class="navbar navbar-custom navbar-inverse navbar-static-top" id="nav">
	<div class="container-fluid">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
		</div>
		<div class="collapse navbar-collapse">{{ with .Site.Params.navigation.sections }}
			<ul class="nav navbar-nav">
				{{ range $i, $e := $.Site.Params.navigation.sections }}
				<li><a href="#{{ lower $e }}">{{ $e }}</a></li>{{ end }}
			</ul>{{ end }}
		</div><!--/.nav-collapse -->
	</div><!--/.container -->
</div><!--/.navbar -->
