{{ partial "header.html" . }}
<div id="wrap">
	{{ partial "carousel.html" . }}
	{{ partial "navbar-main.html" . }}
	<div class="divider" id="section1"></div>
	<div class="container">
		<div class="row">
			<div class="page-header text-center">
				<h1>Regular Meetings</h1>
			</div>
			<div class="col-md-4">
				<h3 class="text-center">Downtown Pub Lunch</h3>
				<img class="img-responsive img-circle img-center" src="https://placehold.it/350x250" alt="">
				<div class="divider"></div>
				<div class="well">
					<span class="glyphicon glyphicon-calendar" aria-hidden="true"></span>
					12:00 noon - 1:30pm on the 1st Friday of the month.
				</div>
			</div>
			<div class="col-md-4">
				<h3 class="text-center">Westside Breakfast</h3>
				<img class="img-responsive img-circle img-center" src="https://placehold.it/350x250" alt="">
				<div class="divider"></div>
				<div class="well">
					<span class="glyphicon glyphicon-calendar" aria-hidden="true"></span>
					7:30 - 9:00 am, on the 2nd Tuesday of the month.
				</div>
			</div>
			<div class="col-md-4">
				<h3 class="text-center">Downtown Evening</h3>
				<img class="img-responsive img-circle img-center" src="https://placehold.it/350x250" alt="">
				<div class="divider"></div>
				<div class="well">
					<span class="glyphicon glyphicon-calendar" aria-hidden="true"></span>
					6-30 - 8:30 pm on the 3rd Wednesday of the month.
				</div>
			</div>
		</div>
	</div>
	{{ partial "section-divider-green.html" . }}
	<div class="divider" id="section2"></div>
	<div class="container">
		<div class="col-sm-10 col-sm-offset-1">
			<div class="page-header text-center">
				<h1>Upcoming Events</h1>
			</div>
			<div class="container">
				<div class="row">
					<div class="col-md-7 col-md-offset-1">
					<ul class="event-list">
						<li>
							<time datetime="2014-07-20">
								<span class="day">4</span>
								<span class="month">Jul</span>
								<span class="year">2015</span>
								<span class="time">ALL DAY</span>
							</time>
							<div class="info">
								<h2 class="title">Independence Day</h2>
								<p class="desc">United States Holiday</p>
							</div>
							<div class="social">
								<ul>
									<li class="calagator" style="width:33%;"><a href="#calagator"><span class="fa fa-calendar"></span></a></li>
									<li class="meetup" style="width:33%;"><a href="#meetup"><span class="fa fa-users"></span></a></li>
									<li class="twitter" style="width:34%;"><a href="#twitter"><span class="fa fa-twitter"></span></a></li>
								</ul>
							</div>
						</li>
						<li>
							<time datetime="2014-07-20 0000">
								<span class="day">8</span>
								<span class="month">Jul</span>
								<span class="year">2015</span>
								<span class="time">12:00 AM</span>
							</time>
							<div class="info">
								<h2 class="title">One Piece Unlimited World Red</h2>
								<p class="desc">PS Vita</p>
								<ul>
									<li style="width:50%;"><a href="#website"><span class="fa fa-globe"></span> Website</a></li>
									<li style="width:50%;"><span class="fa fa-money"></span> $39.99</li>
								</ul>
							</div>
							<div class="social">
								<ul>
									<li class="calagator" style="width:33%;"><a href="#calagator"><span class="fa fa-calendar"></span></a></li>
									<li class="meetup" style="width:33%;"><a href="#meetup"><span class="fa fa-users"></span></a></li>
									<li class="twitter" style="width:34%;"><a href="#twitter"><span class="fa fa-twitter"></span></a></li>
								</ul>
							</div>
						</li>
						<li>
							<time datetime="2014-07-20">
								<span class="day">19</span>
								<span class="month">Jul</span>
								<span class="year">2015</span>
								<span class="time">ALL DAY</span>
							</time>
							<div class="info">
								<h2 class="title">Awesome Meeting</h2>
								<p class="desc">We want to go to this</p>
							</div>
							<div class="social">
								<ul>
									<li class="calagator" style="width:33%;"><a href="#calagator"><span class="fa fa-calendar"></span></a></li>
									<li class="meetup" style="width:33%;"><a href="#meetup"><span class="fa fa-users"></span></a></li>
									<li class="twitter" style="width:34%;"><a href="#twitter"><span class="fa fa-twitter"></span></a></li>
								</ul>
							</div>
						</li>
					</ul>
					</div>
				</div>
			</div>
			<hr>
			<div class="divider"></div>
		</div>
	</div>
	{{ partial "section-divider-yellow.html" . }}
	<div class="divider" id="section3"></div>
	<div class="container">
		<div class="col-sm-10 col-sm-offset-1">
			<div class="page-header text-center">
				<h1>Vision</h1>
			</div>
			<p class="lead text-center">
			We see Portland as a world-class leader in software development. By "World Class" we mean profitable, sustainable, and joyful.
			</p>
			<hr>
			<div class="divider"></div>
		</div>
		<hr>
		<div class="divider"></div>
	</div>
	{{ partial "section-divider-green.html" . }}
	<div class="divider" id="section4"></div>
	<div class="container">
		<div class="col-sm-10 col-sm-offset-1">
			<div class="page-header text-center">
				<h1>Mission</h1>
			</div>
			<p class="lead text-center">
			We work together to create a vibrant, successful Agile community of practice in the greater Portland metropolitan area where we share real-world experience, distilled wisdom, and innovative ideas for Agile done well. We are an active group and offer several ways to help our community connect.
			</p>
			<hr>
			<div class="divider"></div>
		</div>
	</div>
	{{ partial "section-divider-yellow.html" . }}
	<div class="divider" id="section5"></div>
	<div class="container">
		<div class="col-sm-10 col-sm-offset-1">
			<div class="page-header text-center">
				<h1>Sponsors</h1>
			</div>
			<div class="row">
				<div class="col-md-6">
					<a href="http://puppetlabs.com" target="_blank">
						<img class="img-responsive img-center img-sponsor" src="{{ .Site.BaseURL }}img/PuppetLabs.png" alt="Puppet Labs" />
					</a>
				</div>
			</div>
			<div class="row">
				<div class="col-md-8 col-md-offset-4">
					<a href="http://www.pnsqc.org/" target="_blank">
						<img class="img-responsive img-center" src="{{ .Site.BaseURL }}img/PNSQC2014.jpg" alt="PSNQC" />
					</a>
				</div>
			</div>
			<hr>
			<div class="divider"></div>
		</div>
	</div>
	<div class="divider"></div>
</div>
{{ partial "footer.html" . }}
